body {
  background-color: #b0eacd;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 700px;
  background-color: #f9fcfb;
  border-radius: 20px;
  padding: 50px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.button {
  margin-left: 10px;
  background: #fd5e53;
  color: #f9fcfb;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.recipe {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #21bf73;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
.hidden {
  display: none;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #fd5e53;
}

.form-wrapper {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

form {
  display: flex;
}

a {
  color: #fd5e53;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
